<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
        <%- include("navbar", {links: links}) %>
    </header>
    <main>
      <h1>Add new message</h1>
      <%- include("partials/errors.ejs") %>
      <form method="post" action="/messages/new" style="display: flex; flex-direction: column; gap: 1rem;">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" minlength="1" maxlength="12" required/>
        <label for="text">Message</label>
        <textarea name="text" id="text" minlength="1" maxlength="220" rows="5" required ></textarea>
        <button>Send your message</button>
      </form>
    </main>
  </body>
</html>
